
 /* Style the navbar */
 #navbar {
    overflow: hidden;
    background-color: #333;
  }
  body{
    color:white;
    background-color: darkslategrey;
    background-image: url("tig.jpg");
    background-position: center 20%;
    background-repeat: no-repeat;
    background-size: 100%;
    text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family:Arial, Helvetica, sans-serif;
    padding: 0;
    margin-top: 0;
}
  

  /* Navbar links */
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 8px;
    text-decoration: none;
  }
  
  /* Page content */
  .content {
    padding: 16px;
  }
